.header {
  text-align: center;
  padding: 4px;
  margin: 0;
  border-radius: 15px;
  transform: scale(1.15);
}
.button {
  background-color: azure;
  padding: 0;
}

.done-column {
  cursor: not-allowed; 
}

.task-card {
  transition: transform 0.2s; 
}

.task-card:hover {
  transform: scale(1.05); 
}
